.main-menu {
  text-align: center;
  padding-top: 10px;
  margin: auto;
}

input {
  width: 200px;
}

button {
  margin-top: 10px;
}

.collector {
  border-radius: 100%;
  max-width: 200px;
}

.background {
  position: relative;
  right: 200px;
  bottom: 177px;
  max-width: 1200px;
  z-index: 10;
}

.grumpy-cat {
  visibility: hidden;
  position: relative;
  bottom: 553px;
  left: 404px;
  max-width: 300px;
  z-index: 1000;
}

.grumpy-cat-full {
  position: relative;
  bottom: 551px;
  left: -263px;
  max-width: 113px;
  z-index: 1000;
}

p {
  font-size: 10px;
  font-style: italic;
  padding-top: 2px;
}

label {
  text-decoration: underline;
}

input {
  text-align: center;
  border: 1px solid grey;
}


video {
  position: relative;
  bottom: 1173px;
  left: 291px;
  max-width: 149px;
  z-index: 1;
}

.border{
  position: relative;
  bottom: 945px;
  right: 7px;
  z-index: 100000;
}
